{{#if isValid}}
    <h2>Product details</h2>
    <hr>
    <div>
        {{#each products}}
            <div>
                <img src="/img/{{Product.image}}" alt={{Product.title}}>
                <h2>
                    <strong>Title:</strong>
                    {{Product.title}}
                    &nbsp;
                </h2>
                <h3>
                    <strong>Description:</strong>
                    {{Product.description}}
                </h3>
                <p>
                    <strong>Code:</strong>
                    {{Product.code}}
                    &nbsp;
                    <strong>Category:</strong>
                    {{Product.category}}
                </p>
                <p>
                    <strong>Price:</strong>
                    {{Product.price}}
                    &nbsp;
                    <strong>Thumbnails:</strong>
                    {{Product.thumbnails}}
                </p>
            </div>
            <br />
        {{/each}}
    </div>
    <br />
    <hr>
    <div>
        {{#if hasPrevPage}}
            <a href="{{Product.prevLink}}"><< Previous page</a>
        {{/if}}
        &nbsp;
        {{Product.page}}
        &nbsp;
        {{#if hasNextPage}}
            <a href="{{Product.nextLink}}">Next page >></a>
        {{/if}}
    </div>
{{else}}
<h2>No products founded.</h2>


{{#each products}}
    <div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Price: {{price}}</p>
        <p>Category: {{category}}</p>
        <button type="submit">Add to cart</button>
    </div>
{{/each}}