<h2>Product details</h2>

<img src="/img/{{Product.image}}" alt={{Product.title}}>
<h3>{{Product.title}}</h3>
<p>{{Product.brand}}</p>
<p>{{Product.description}}</p>
<p>{{Product.price}}</p>
<p>{{Price.category}}</p>
<p>{{Product.stock}}</p>

<script src="/socket.io/socket.io.js"></script>